@charset "UTF-8";
html, body { min-height: 100%; font-family: "Verdana"; }
body { background: #000 url(../_img/shutdown.jpg) no-repeat center top; }
#container { position: relative; width: 1000px; margin: 100px auto 0;}

h1 { background: #000; color: #fff; display: block; padding: 20px; opacity: 0.7; -moz-opacity: 0.7; filter: alpha(opacity:70);}
label { font-weight: bold; }
#box_form { float: left; width: 500px; padding: 20px 40px; background: url(../_img/bg_trans.png); border-right: 5px solid #ccff00; margin-bottom: 40px; }
textarea { width: 500px; height: 100px; }
form#form_out { float: left; }
form#form_out input { width: 500px; height: 30px; float: left; margin-bottom: 10px;}
form#form_out button { width: 200px; padding: 10px 0px; background: red; color: #fff; font-weight: bold; border: 0px; float: right; cursor: pointer;}

.box_texto { width: 354px; float: left; padding: 20px; background: url(../_img/bg_trans.png); margin-left: 20px; }

a.voltar { display: block; width: 200px; padding: 10px 0px; background: green; color: #fff; font-weight: bold; text-align: center; text-decoration: none;}

.erro { background: red; color: #fff; display: block; padding: 10px; }

.mascara { position: relative; width: 300px; height: 440px; display: block; overflow: hidden; margin-bottom: 20px;}
.mascara .mask { display: block; width: 300px; position: absolute; bottom: 10px; text-align: center; font-size: 30px; text-transform: uppercase; color: red; text-shadow: 1px 1px 0px #F2F2F2, 1px 2px 0px #B1B1B2; font-weight: bold;}
.mascara .mask strong { font-size: 50px; }

/*notepad*/
.notepad { position: relative; background: #fdfcbd; border: 0px; margin: 10px 0px 0px; }
.notepad #limpar { position: absolute; right: 0px; top: 0px; border: 1px solid transparent; background: none; color: #818165; padding: 5px; cursor: pointer; }
.notepad #limpar:hover { border: 1px solid #cecd97; background: #f9f9c4; }
.notepad h2 { width: 334px; background: #efeeac; color: #888864; padding: 5px 10px; margin: 0px; font-size: 18px; }
.notepad #notepad { min-height: 200px; border: 0px; padding: 10px;}